.skills__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  min-height: 100vh;
  background-color: black;
  color: white;
  z-index: 100;
  padding: 20px;

  .skills__container {
    height: 100vh;
    overflow-y: auto;
  }

  .skill {
    padding: 5px;
  }
}
