.skills__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  min-height: 100vh;
  background-color: black;
  color: white;
  z-index: 100;
  padding: 20px;

  .skills__container {
    height: 100vh;
    overflow-y: auto;
  }

  .skill {
    padding: 5px;
  }
  .skills__btn {
    color: red;
  }
}

@media all and (max-width: 1800px) {
  .skills__wrapper {
    width: calc(var(--index) * 20);
  }
}
@media all and (max-width: 900px) {
  .skills__wrapper {
    width: calc(var(--index) * 30);
  }
}
@media all and (max-width: 768px) {
  .skills__wrapper {
    width: 100%;
  }
}
