.parent {
  @apply absolute top-5 right-5;

  button {
    @apply cursor-pointer border-none rounded outline-none hover:bg-black transition-colors py-2 px-4 text-white;
  }
  .active {
    @apply bg-black;
  }
  article {
    @apply absolute px-6 py-4 right-0 top-10 mt-2 bg-black rounded-3xl rounded-tl-none rounded-br-none text-white text-sm text-left z-50;

    width: 28rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
}
