.me {
  @apply mt-28 mb-6 text-center bg-zinc-900 relative rounded;

  .image-wrapper {
    @apply mb-6;
    span {
      margin-top: -3rem !important;
    }

    .img {
      @apply rounded-full mx-auto relative -top-10 object-cover object-center;
      height: 190px !important;
    }
  }

  .heading {
    @apply mb-5 text-3xl font-bold text-white flex items-center justify-center;

    img {
      display: inline;
    }
  }
}

@media screen and (max-width: 920px) {
  .me {
    @apply mt-28;
  }
}
@media screen and (max-width: 520px) {
  .me {
    .image-wrapper {
      .img {
        height: 150px !important;
        width: 150px !important;
      }
    }
  }
}
